<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
    Username:
    <br>
    <input type="text" name="username">
    <br><br>
    Email:
    <br>
    <input type="text" name="email">
    <br><br>
    Password:
    <br>
    <input type="password" name="password">
    <br><br>
    Role:
    <br>
    <select name="role" >
        <option value="" selected>---SELECT ROLE---</option>
        <option value="Moderator">Moderator</option>
        <option value="User">User</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>
<br>
<a href="/"><button>Back</button></a>
</body>
</html>